/* Mikhail Nikipelov — http://desir.me/ */

@import url(bootstrap.min.css);
@import url(reset.css);
@import url(animations.css);

@font-face {
  font-family: 'clearsans-thin';
  src: url('../fonts/clearsans-thin/clearsans-thin.eot');
  src: url('../fonts/clearsans-thin/clearsans-thin.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans-thin/clearsans-thin.woff2') format('woff2'), url('../fonts/clearsans-thin/clearsans-thin.woff') format('woff'), url('../fonts/clearsans-thin/clearsans-thin.ttf') format('truetype'), url('../fonts/clearsans-thin/clearsans-thin.svg#clearsans-thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clearsans-bold';
  src: url('../fonts/clearsans-bold/clearsans-bold.eot');
  src: url('../fonts/clearsans-bold/clearsans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans-bold/clearsans-bold.woff2') format('woff2'), url('../fonts/clearsans-bold/clearsans-bold.woff') format('woff'), url('../fonts/clearsans-bold/clearsans-bold.ttf') format('truetype'), url('../fonts/clearsans-bold/clearsans-bold.svg#clearsans-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* basics */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  vertical-align: top;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
textarea {
  overflow: auto;
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}
:-moz-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}

body {
	font: 400 18px/30px 'clearsans-thin', 'Trebuchet MS', Trebuchet MS, Trebuchet, Helvetica, Arial, "Nimbus Sans L", sans-serif;
	color: #4e4e4e;
    text-rendering: optimizeLegibility;
}
a:focus, img:focus, select:focus, input:focus, textarea:focus, checkbox:focus {
    outline: inherit;
}

a {
    color: #0062a6;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
    a:hover {
        color: #c00;
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
    a:focus {
        text-decoration: none;
    }

.allsvg {
    display: none;
}

.rub {
    font-size: 1em;
    font-weight: 400;
    position: relative;
    left: -.65em;
    top: .1em;
}

input {
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px 10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input:focus {
    border-color: #52aeef;
}


/* buttons */

.btn {
    display: inline-block;
    background: #ffd200;
    padding: 4px 10px 10px 10px;
    font-family: 'clearsans-bold';
    text-align: center;
    text-decoration: none;
    line-height: 1.3em;
    color: #000;
    border-radius: 5px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .2), 0 10px 20px rgba(0, 0, 0, .15);
    width: 100%;
    
}
    .btn:hover {
        background: #ffb91b;
        color: #000;
    }
    .btn:active {
        color: #000;
        margin: 5px 0 0 0;
        padding: 4px 10px 5px 10px;
        box-shadow: inset 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(0, 0, 0, .15);
    }
    .btn:focus {
        color: #000;
    }

    .btn.green {
        background: #789b2c;
        color: #fff;
    }
        .btn.green:hover {
            background: #78ae04;
            color: #fff;
        }
        .btn.green:active {
            color: #fff;
        }
        .btn.green:focus {
            color: #fff;
        }



/* headers */

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}



/* header */

.header {
    position: fixed;
    
    z-index: 2;
    top: 0;
    width: 100%;    
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
}

.header menu {
    margin: 0 0 0 -20px;
}
    .header menu ul li {
        float: left;
    }
        .header menu ul li a {
            color: #fff;
            display: block;
            padding: 12px 20px 15px 20px;
        }
            .header menu ul li a:hover {
                background-color: #9b972c;
            }

    .header .btn {
        position: relative;
        top: 10px;
    }
    .header .tel {
        font-family: 'clearsans-bold';
        margin: 12px 0 0 0;
    }



/* content */

.content {
    position: relative;
    margin: 60px 0 0 0;
}


/* welcome */

.welcome {
    padding: 50px 0 10px 0;
}

    .welcome .logo-svg {
        fill: #424242;
    }

    .welcome h1 {
        font-size: 2em;
        letter-spacing: -1.5px;
        margin: 10px 0 0 0;
    }
        .welcome h1 span {
            font-size: .7em;
            display: block;
        }

    .welcome .tel {
        color: #008cc7;
        border-bottom: 1px dashed;
        position: relative;
        top: 15px;
    }
        .welcome .tel:hover {
            color: #fff;
            background-color: #008cc7;
            border-bottom: 1px solid #008cc7;
        }
        .welcome .tel .tel-svg {
            position: absolute;
            right: -60px;
            width: 34px;
            height: 34px;
        }

    .welcome .brain {
        width: 406px;
        height: 304px;
        margin: 60px 0 0 40px;
        position: relative;
    }
        .welcome .brain .bu, .welcome .brain .on, .welcome .brain .ku, .welcome .brain .rbio {
            position: absolute;
            display: inline-block;
            border-radius: 5px;
            padding: 12px 15px 15px 15px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, .15);
            line-height: 1em;
        }
            .welcome .brain .bu:after, .welcome .brain .on:after, .welcome .brain .ku:after, .welcome .brain .rbio:after {
                width: 12px;
                height: 12px;
                display: block;
                content: "";
                border: 6px solid transparent;
                position: absolute;
                bottom: -12px;
                -webkit-transition: border-top-color 0.2s ease;
                -moz-transition: border-top-color 0.2s ease;
                -ms-transition: border-top-color 0.2s ease;
                -o-transition: border-top-color 0.2s ease;
                transition: border-top-color 0.2s ease;
            }
            .welcome .brain .bu:hover, .welcome .brain .on:hover, .welcome .brain .ku:hover, .welcome .brain .rbio:hover {
                box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
            }

                .welcome .brain .bu {
                    background: #f9f3f3;
                    color: #c33a52;
                    top: 0;
                    left: -30px;
                }
                    .welcome .brain .bu:after {
                        border-top-color: #f9f3f3;
                        right: 10px;
                    }
                    .welcome .brain .bu:hover{
                        background: #f2e2e2;
                        top: -5px;
                    }
                        .welcome .brain .bu:hover:after {
                            border-top-color: #f2e2e2;
                        }

                .welcome .brain .on {
                    background: #fff4e9;
                    color: #ee6c13;
                    top: 0;
                    right: -20px;
                }
                    .welcome .brain .on:after {
                        border-top-color: #fff4e9;
                        left: 10px;
                    }
                    .welcome .brain .on:hover{
                        background: #ffead5;
                        top: -5px;
                    }
                        .welcome .brain .on:hover:after {
                            border-top-color: #ffead5;
                        }

                .welcome .brain .ku {
                    background: #fcf3e0;
                    color: #bb780c;
                    bottom: 75px;
                    left: -30px;
                }
                    .welcome .brain .ku:after {
                        border-top-color: #fcf3e0;
                        right: 10px;
                    }
                    .welcome .brain .ku:hover{
                        background: #ffedc8;
                        bottom: 80px;
                    }
                        .welcome .brain .ku:hover:after {
                            border-top-color: #ffedc8;
                        }

                .welcome .brain .rbio {
                    background: #f5fae2;
                    color: #868d14;
                    bottom: 60px;
                    right: -100px;
                }
                    .welcome .brain .rbio:after {
                        border-top-color: #f5fae2;
                        left: 10px;
                    }
                    .welcome .brain .rbio:hover{
                        background: #f4ffc9;
                        bottom: 65px;
                    }
                        .welcome .brain .rbio:hover:after {
                            border-top-color: #f4ffc9;
                        }

    .welcome .offer {
        background-image: url(../img/gradient.jpg);
        background-size: cover;
        display: inline-block;
        border: 2px solid #fff;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .15);
        padding: 2px;
        border-radius: 5px;
        position: relative;
        top: 60px;
        margin: 0 0 0 -20px;
    }
        .welcome .offer h2 {
            background-color: #fff;
            border-radius: 2px;
            padding: 12px 20px;
        }
            .welcome .offer h2 strong {
                font-family: 'clearsans-bold';
            }
            .welcome .offer h2 span {
                font-family: 'clearsans-bold';
                font-size: 2.7em;
                color: #789b2c;
                display: inline-block;
                margin: 10px 0 0 0;
            }
                .welcome .offer h2 span .rub {
                    top: .12em;
                }

    .welcome .regular {
        background-color: #e31531;
        background-size: cover;
        display: inline-block;
        border: 2px solid #fff;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .15);
        padding: 2px;
        border-radius: 5px;
        position: relative;
        top: 40px;
        left: 170px;
        font-size: .8em;
        color: #c52121;
    }
        .welcome .regular h3 {
            background-color: #fff;
            border-radius: 2px;
            padding: 3px 10px;
        }
            .welcome .regular h3 span {
                font-family: 'clearsans-bold';
                font-size: 2em;
                display: inline-block;
                background: url(../img/strike.png) 0 8px no-repeat;
                background-size: contain;
            }
                .welcome .regular h3 span .rub {
                    top: .12em;
                }

    .welcome form {
        position: relative;
    }
        .welcome form input {
            position: relative;
            left: -100px;
            top: 10px;
            padding: 5px 10px 5px 50px;
        }
        .welcome form .tel {
            width: 0;
            height: 0;
            border: 0;
            position: absolute;
            left: -60px;
            top: 20px;
        }
            .welcome form .tel:hover {
                background: none;
                border: 0;
            }
            .welcome form .tel .tel-svg {
                right: 0;
                width: 25px;
                height: 25px;
                opacity: .7;
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                filter: grayscale(100%);
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -ms-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            .welcome form input:focus+.tel .tel-svg {
                opacity: 1;
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
                -o-filter: grayscale(0%);
                -ms-filter: grayscale(0%);
                filter: grayscale(0%);
            }
        .welcome form+.btn {
            margin: 40px 0 0 -20px;
            padding: 10px 20px 15px 20px;
            background: #73a508 url(../img/btn.png) center center no-repeat;
            background-size: cover;
            color: #fff;
            font-family: 'clearsans-thin';
            font-size: 1.1em;
            line-height: 1.6em;
            width: 295px;
        }
            .welcome form+.btn:hover {
                background-color: #88c701;
                color: #fff;
            }
            .welcome form+.btn:active {
                color: #fff;
                margin: 45px 0 0 -20px;
                padding: 10px 20px;
                box-shadow: inset 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(0, 0, 0, .15);
            }
            .welcome form+.btn:focus {
                color: #fff;
            }
            .welcome form+.btn strong {
                font-size: 1.2em;
                font-family: 'clearsans-bold';
            }
    .welcome form .arrows {
        position: absolute;
        width: 60px;
        top: -45px;
        left: -90px;
        z-index: -1;
    }
        .welcome form .arrow-svg:nth-child(even) {
            margin: 55px 0 0 0;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }



/* fbc */

.fbc {
    position: relative;
}

    .fbc .container-fluid {
        padding: 0;
        background: #f5f5f5;
    }
    .fbc .container {
        position: relative;
    }

    .fbc .icon {
        display: block;
        text-align: center;
        color: #424242;
        margin: 0 0 30px 0;
    }
        .fbc .icon .icon-holder {
            margin: 0;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        .fbc .icon:hover .icon-holder {
            margin: -5px 0 5px 0;
        }
        .fbc .icon .icon-holder {
            height: 110px;
        }
            .fbc .icon .facts-svg {
                width: 88px;
                height: 95px;
                margin: 0 0 0 25px;
            }
            .fbc .icon .benefits-svg {
                width: 101px;
                height: 85px;
                margin: 10px 0 0 0;
            }
            .fbc .icon .clients-svg {
                width: 85px;
                height: 105px;
            }

    .fbc .slide-indicator {
        position: absolute;
        width: 92px;
        height: 46px;
        z-index: 1;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
        .fbc .slide-indicator.pos-0 {
            left: 21%;
        }
        .fbc .slide-indicator.pos-1 {
            left: 50%;
            margin: 0 0 0 -46px;
        }
        .fbc .slide-indicator.pos-2 {
            right: 21%;
        }

    .fbc .facts-slide {
        padding: 90px 0;
    }
        .fbc .facts-slide .fact {
            text-align: center;
        }
            .fbc .facts-slide .fact .icon {
                width: 70px;
                height: 70px;
                background-color: #789b2c;
                border-radius: 50%;
                margin: 0 auto 20px auto;
                position: relative;
            }
                .fbc .facts-slide .fact .icon:after {
                    display: block;
                    content: "";
                    width: 30px;
                    height: 20px;
                    border: 3px solid #fff;
                    position: absolute;
                    left: 20px;
                    top: 18px;
                    border-top: 0;
                    border-right: 0;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            .fbc .facts-slide .fact .text {
                line-height: 1.3em;
            }

    .fbc .benefits-slide {
        padding: 70px 0;
    }
        .fbc .benefits-slide h3 {
            font-size: 2.7em;
            color: #898989;
            letter-spacing: -1px;
            margin: 0 0 20px 0;
        }
            .fbc .benefits-slide h3 strong {
                font-family: 'clearsans-bold';
                font-weight: 400;
                color: #f27200;
            }
        .fbc .benefits-slide .reason {
            margin: 30px 0 0 0;
        }
            .fbc .benefits-slide .reason .num {
                display: inline-block;
                background-color: #f27200;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                color: #fff;
                font-size: .8em;
                line-height: 1em;
                padding: 6px 0 0 0;
                margin: 0 20px 0 0;
            }
            .fbc .benefits-slide .reason .text {
                display: inline-block;
            }

    .fbc .testimonial {
        height: 650px;
        position: relative;
    }
        .fbc .testimonial .text {
            background-color: rgba(0, 0, 0, .85);
            padding: 40px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            color: #fff;
            line-height: 1.3em;
        }
            .fbc .testimonial .text .name, .fbc .testimonial .text .profession {
                color: #cacaca;
                display: block;
            }
                .fbc .testimonial .text .name {
                    font-size: .9em;
                    line-height: 1em;
                    margin: 10px 0 0 0;
                }
                .fbc .testimonial .text .profession {
                    font-size: .77em;
                }



/* sale */

.sale {
    line-height: 24px;
    padding: 0 0 50px 0;
    height: 575px;
    overflow: hidden;
}
    .sale h3 {
        font-size: 2em;
        letter-spacing: -1px;
        text-transform: uppercase;
        display: inline-block;
        margin: 0 0 20px 0;
    }
        .sale h3 strong {
            font-size: 1.5em;
            font-family: 'clearsans-bold';
            color: #789b2c;
            display: inline-block;
            margin: 25px 0 0 0;
        }
    .sale h4 {
        font-size: 2em;
        letter-spacing: -1px;
        display: inline-block;
        margin: 30px 0;
    }

    .sale .megafon {
        z-index: -1;
        margin: -150px 0 0 -40px;
        width: 680px;
    }

    .sale .form {
        margin: 40px 0 0 0;
    }
    .sale .form input {
        width: 100%;
        margin: 0 0 15px 0;
    }

/* countdown */
    .countdown .col {
        display: inline-block;
        margin: 0 20px 0 0;
    }
    .countdown .col .digit {
        line-height: 1em;
        padding: 5px 0 8px 0;
        width: 80px;
        text-align: center;
        border-radius: 5px;
        background-color: #cc0d2c;
        color: #fff;
        font-size: 2.6em;
        margin: 0 0 5px 0;
    }
    .countdown .col .text {
        color: #cc0d2c;
    }



/* footer */

.footer {
    position: relative;
}



/* fixes */

.gecko {
}

.opera {
}

.mobile {
}



/* media */

@media only screen and (max-width: 1199px) {
    
    body {
        font-size: 14px;
    }
    
    .welcome .regular {
        left: 120px;
    }
    
}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}